.hero {
  position: relative;
  height: 120vh;
  min-height: 350px;
  overflow: hidden;
}

.hero-video-wrapper {
  z-index: 0;
  filter: blur(4px); /* ✅ This adds the blur effect */
  transform: scale(1.1); /* Optional: Prevent edges from showing due to blur */
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  width: 100%;
  padding: 0 1rem;
  z-index: 1;
  position: relative;
}

.hero p {
  font-size: 1.5rem;
}

.hero-content h1,
.hero-content p {
  text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}


.shop-btn:hover {
    background-color: #000 !important;
    color: #fff;
    transition: all 0.3s ease-in-out;
}